.logo-title {

  &-title {
    margin-bottom: 25px;

    h1,a  {
      color: #fff;
    }
    h1 {
      font-size: 25px;
      margin-top: 0;
      margin-bottom: 15px;

      @media (min-width: 767px) {
        font-size: 30px;
      }
    }

    a {
      font-size: 25px;
      margin-bottom: 15px;

      @media (min-width: 767px) {
        font-size: 30px;
      }
    }

  }
}
